.how-it-work__text,
.meals__detail-header,
.testimonial__header {
  font-weight: 700;
  color: #333;
  line-height: 1.1;
}

/*------------------------*/
/*Header
/*------------------------*/

.header {
  background-color: #fdf2e9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*we want the header to be sticky so we use a height*/
  padding: 0 4.8rem;
  height: 9.6rem;

  position: relative;
}
.header__img {
  height: 2.4rem;
}

.sticky .header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}
.sticky .hero {
  margin-top: 8rem !important;
}

/*------------------------*/
/*Header nav
/*------------------------*/
.header__nav {
}
.header__nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.header__nav-link:link,
.header__nav-link:visited {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  color: #333;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
}

.header__nav-link:hover,
.header__nav-link:active {
  color: #cf711f;
}

.header__nav-link.header__nav-link--main-link:link,
.header__nav-link.header__nav-link--main-link:visited {
  padding: 1.2rem 2.4rem;
  background-color: #e67e22;
  border-radius: 9px;
  color: #fff;
}

.header__nav-link.header__nav-link--main-link:hover,
.header__nav-link.header__nav-link--main-link:active {
  background-color: #cf711f;
  color: #fff;
}

.mobile-nav {
  border: none;
  background-color: #fdf2e9;
  cursor: pointer;
  display: none;
}

.mobile-nav__icon {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}
.mobile-nav__icon[name="close-outline"] {
  display: none;
}
/*------------------------*/
/*HERO
/*------------------------*/

.hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
  /* display: flex; */
  /* flex-direction: column;
  justify-content: center; */
}

.hero__container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  column-gap: 9.6rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.hero__header {
  letter-spacing: -0.5px;
  font-size: 5.2rem;
  margin-bottom: 3.2rem;
}
.hero__img {
  width: 100%;
}
.hero__text-box {
}

.hero__description {
  font-size: 2rem;
  line-height: 1.7;
  margin-bottom: 4.8rem;
  font-weight: 400;
  /* width: 75rem; */
}
.btn,
.hero__btn:link,
.hero__btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.6s;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
}

.hero__btn--full:link,
.hero__btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.hero__btn--full:hover,
.hero__btn--full:active {
  background-color: #cf711f;
}

.hero__btn--outline:link,
.hero__btn--outline:visited {
  background-color: #fff;
  color: #333;
}

.hero__btn--outline:hover,
.hero__btn--outline:active {
  background-color: #fdf2e9;
  box-shadow: 0 0 0 3px #fff;
}

.hero__meals-delivered {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.hero__meals-imgs {
  display: flex;
}
.hero__meals-imgs img:last-child {
  margin-right: 0;
}
.hero__meals-img {
  margin-right: -1.6rem;
  border-radius: 50%;
  border: 3px solid #fdf2e9;
  width: 4.8rem;
  height: 4.8rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.hero__meals-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.hero__meals-text span {
  color: #cf711f;
  font-weight: 700;
}

/*------------------------*/
/*How it work
/*------------------------*/
.how-it-work {
  padding: 9.6rem 0;
}

.how-it-work__header {
  letter-spacing: 0.75px;
  font-size: 4.8rem;
  margin-bottom: 9.6rem;
}
.how-it-work__title {
  display: block;
  color: #cf711f;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}
.how-it-work__number {
  font-size: 9.8rem;
  font-weight: 600;
  color: #dee2e6;
  margin-bottom: 1.2rem;
}
.how-it-work__img-container {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.how-it-work__img-container::before,
.how-it-work__img-container::after {
  content: "";
  display: block;
  /*when the height don't work we use padding-bottom to create height*/
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/* when adding ::before we will create a child element inside the class that we specified  */
.how-it-work__img-container::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}
.how-it-work__img-container::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}
.how-it-work__img {
  width: 35%;
  /* display: block;
  margin: auto; */
}
.how-it-work__text-header,
.meals__detail-header {
  font-size: 3rem;
  margin-bottom: 3.2rem;
  line-height: 1.2;
}
.how-it-work__text-conatiner {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* align-self: center; */
}
.how-it-work__text {
  font-size: 1.8rem;
  line-height: 1.8;
  font-weight: 400;
}

/*------------------------*/
/*Features in
/*------------------------*/

.features-in {
  padding: 4.8rem 0 3.2rem 0;
}
.features-in__header {
  text-align: center;
  margin-bottom: 2.4rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color: #767676;
}
.features-in__imgs {
  display: flex;
  justify-content: space-around;
  filter: brightness(0);
  -webkit-filter: brightness(0);
  opacity: 50%;
}
.features-in__imgs img {
  /* we use height to keep the format of the logo */
  height: 3.2rem;
}

/*------------------------*/
/*Meals component
/*------------------------*/

.meals {
  padding: 9.6rem 0;
}
.meals__card {
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.075);
  border-radius: 12px;
  transition: all 0.6s;
  /* what ever overflow the card container should be hidden */
  /* so any thing that  this container should be hidden  */
  overflow: hidden;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
}
.meals__card:hover {
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);

  transform: translateY(-1.2rem);
  -webkit-transform: translateY(-1.2rem);
  -moz-transform: translateY(-1.2rem);
  -ms-transform: translateY(-1.2rem);
  -o-transform: translateY(-1.2rem);
}
.meals__card-img {
  width: 100%;
}
.meals__title {
  display: block;
  color: #cf711f;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}
.meals__header {
  font-size: 3rem;
  margin-bottom: 3.2rem;
  line-height: 1.2;
}
.meals__card {
}

.meals__card-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.meals__tag-container {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 5px;
}

.meals__card-icons {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}
.meals__card-header {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
  color: #333;
}
.meals__card-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
.meals__card-item {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.tag--Vegetarian {
  background-color: #51cf66;
}

.tag--Vegan {
  background-color: #94d82d;
}
.tag--Salad {
  background-color: #fcc419;
}

.meals__details {
}

.meals__items,
.pricing__items {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.meals__item,
.pricing__item {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.meals__item span,
.pricing__item span {
  font-size: 1.8rem;
  font-weight: 400;
}
.meal__detail-icon,
.pricing__icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.meals__all-recipes {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

.meals__all-recipes-link:link,
.meals__all-recipes-link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 5px;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
}
.meals__all-recipes-link:hover,
.meals__all-recipes-link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

/*------------------------*/
/*Tetsimonial component
/*------------------------*/

.testimonial {
  display: grid;
  grid-template-columns: 55fr 45fr;
  background-color: #fdf2e9;
  align-items: center;
}
.testimonial-col {
  padding: 9.6rem;
}
.testimonial__header-container {
  margin-bottom: 4.8rem;
}
.testimonial__title {
  display: block;
  color: #e67e22;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.testimonial__img {
  display: inline-block;
  border-radius: 50%;
  width: 6.4rem;
  margin-bottom: 1.2rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.testimonial__text {
  font-size: 1.8rem;
  line-height: 1.8;

  /* margin-bottom: 1.2rem; */
}
.testimonial__customer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.6rem;
}
.testimonial__customer-name {
  font-size: 1.6rem;
  color: #6c747f;
}

.testimonial__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial__header {
  font-size: 3rem;
  margin-bottom: 3.2rem;
  line-height: 1.2;
}

.gallery-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}
.gallery__fig {
  overflow: hidden;
}
.gallery__fig img {
  display: block;
  width: 100%;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
}

.gallery__fig img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/*------------------------*/
/*Pricing component
/*------------------------*/

.pricing {
  padding: 9.6rem 0;
}
/* .pricing__head {
  margin-bottom: 4.8rem;
} */

.pricing__name {
  font-size: 2rem;
  font-weight: 600;
  color: #e67e22;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 3.2rem;
}
.pricing__price {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
  color: #333;
}
.pricing__price span {
  font-size: 6.2rem;
  font-weight: 600;
  margin-left: 0.8rem;
}
.pricing__text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6c747f;
}

.pricing__card {
  width: 75%;
  border-radius: 11px;
  line-height: 1.2;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
}
.pricing__card--first-card {
  border: solid 2px #fae5d3;
  justify-self: end;
  padding: 4.6rem;
}
.pricing__card--second-card {
  background-color: #fae5d3;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.pricing__card--second-card::before {
  font-size: 1.4rem;
  font-weight: 700;
  content: "Best price";
  position: absolute;
  padding: 0.8rem 8rem;
  background-color: #fcc419;
  text-transform: uppercase;
  top: 7%;
  right: -14%;
  color: #333;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.pricing__card-header {
  margin-bottom: 4.8rem;
}
.pricing__button {
  margin-top: 4.8rem;
}

/*------------------------*/
/*Features component
/*------------------------*/

.features__item {
}
.features__item--icon {
  width: 3.2rem;
  height: 3.2rem;
  color: #e67e22;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  background-color: #fae5d3;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.features__item--title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
  color: #333;
  margin-bottom: 1.6rem;
}
.features__item--text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
}

.pricing__taxes {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

/*------------------------*/
/*CTA component
/*------------------------*/

.cta {
  padding: 4.8rem 0 12.8rem 0;
}

.cta__container {
  display: grid;
  /* 2/3 = 66.6  1/3=33.3*/
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  overflow: hidden;
}

.cta__img {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta__text-container {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}
.cta__text-container .heading-secondary {
  margin-bottom: 3.2rem;
  color: #45260a;
}
.cta__text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta__form label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
  font-weight: 500;
}
.cta__form input,
.cta__form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  border-radius: 9px;
  border: none;
  background-color: #fae5d3;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  color: inherit;
  font-family: inherit;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}
.cta__form ::placeholder {
  color: #aaa;
}

.btn--form {
  color: #fae5d3;
  background-color: #45260a;
  padding: 1.2rem;
  align-self: end;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}
.cta__form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/**************************/
/* FOOTER */
/**************************/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.footer__logo {
  display: flex;
  flex-direction: column;
}

.footer__logo-link {
  display: block;
  margin-bottom: 3.2rem;
}

.footer__social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.footer__icon {
  height: 2.4rem;
  width: 2.4rem;
}

.footer__copyright {
  margin-top: auto;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
}

.footer__heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}
.footer__links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.footer__link:link,
.footer__link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
}

.footer__link:active,
.footer__link:hover {
  color: #555;
}

.footer__address-container {
  font-style: normal;
  line-height: 1.6;
  font-size: 1.4rem;
}

.footer__address-container p {
  margin-bottom: 2.4rem;
}
